.chat-main
  .group-info 
    .header
      .header-left 
        = @group.name
      .header-memberlist
        Member：
        - @group.users.each do |user|
          = user.name
    .header-right
      = link_to 'Edit', edit_group_path(@group)
  .MessageField
    = render @messages
  .footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .form
        = f.text_field :content, class: 'new-message', placeholder: 'type a message'
        = f.label :image, class: 'photo' do
          = icon('far', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'submit-btn'