.side-bar
  .user-name 
    .top-items
      = current_user.name
      .icon 
        = link_to new_group_path do
          = icon('far', "edit pencil_white")
        = link_to edit_user_path(current_user) do
          = icon('fas', "cog round_white")
  .group-list 
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .list 
          .group-name
            = group.name
          .group-message
            = group.show_last_message